.btn {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 3%;
    width: 100%;
}

.ratings {
    color: white;
    font-size: 30px;
}

html {
    background-image: url("/assets/Images/animal-img.jpg");
    background-position: fixed;
    background-size: cover;
    height: 100%;
}